includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-phpunit/strictRules.neon
parameters:
    ignoreErrors:
        - '#Parameter \#1 \$params of static method League\\Uri\\Component\\Query::createFromParams\(\) expects array\|Traversable, string given\.#'
        - '#Parameter \#1 \$offsets of method League\\Uri\\Component\\Host::withoutLabels\(\) expects array\<int\>, array\<int, string\> given\.#'
        - '#Parameter \#1 \$offsets of method League\\Uri\\Component\\HierarchicalPath::withoutSegments\(\) expects array\<int\>, array\<int, string\> given\.#'
    reportUnmatchedIgnoredErrors: false