includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Parameter \#1 \$params of static method League\\Uri\\Components\\Query::createFromParams\(\) expects array\|Traversable, string given\.#'
        - '#Parameter \#1 \$offsets of method League\\Uri\\Components\\Host::withoutLabels\(\) expects array\<int\>, array\<int, string\> given\.#'
        - '#Parameter \#1 \$offsets of method League\\Uri\\Components\\HierarchicalPath::withoutSegments\(\) expects array\<int\>, array\<int, string\> given\.#'
        - '#Parameter \#1 \$content of method League\\Uri\\Components\\UserInfo::withContent\(\) expects string\|null, DateTime\|false given\.#'
        - '#Parameter \#2 \$value of method League\\Uri\\Components\\Query::withPair\(\) expects string\|null, int given\.#'
        - '#Parameter \#2 \$value of method League\\Uri\\Components\\Query::appendTo\(\) expects string\|null, int given\.#'
        - '#Parameter \#2 \$value of method League\\Uri\\Components\\Query::appendTo\(\) expects string\|null, array<int, string> given\.#'
        - '#Parameter \#2 \$value of method League\\Uri\\Contracts\\QueryInterface::appendTo\(\) expects string\|null, int given\.#'
        - '#Parameter \#2 \$value of method League\\Uri\\Contracts\\QueryInterface::withPair\(\) expects string\|null, int given\.#'
        - '#Parameter \#1 \$pairs of static method League\\Uri\\QueryString::build\(\) expects iterable<int, array<int, string\|null>>, array<int, array<int\|string, string>> given\.#'
        - '#Parameter \#1 \$pairs of static method League\\Uri\\QueryString::build\(\) expects iterable<int, array<int, string\|null>>, iterable given\.#'
        - '#League\\Uri\\Components\\Query::createFromPairs\(\) expects iterable<int, array<int, string\|null>>, array<int, array<string, array<string, array<int, stdClass>>>> given\.#'
        - '#League\\Uri\\Components\\Query::createFromPairs\(\) expects iterable<int, array<int, string\|null>>, array given\.#'
        - '#League\\Uri\\Components\\Query::createFromPairs\(\) expects iterable<int, array<int, string\|null>>, ArrayIterator given\.#'
        - '#League\\Uri\\Components\\Query::createFromPairs\(\) expects iterable<int, array<int, string\|null>>, League\\Uri\\Components\\Query given\.#'
    reportUnmatchedIgnoredErrors: false
