includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - message: '#Parameter \#2 \$value of method League\\Uri\\Contracts\\QueryInterface::appendTo\(\) expects string\|null, int given\.#'
          path: src/Components/QueryTest.php
        - '#Parameter \#1 \$pairs of static method League\\Uri\\Components\\Query::createFromPairs\(\) expects iterable.*#'
        - message: '#Cannot cast mixed to string.#'
          path: src/IPv4Calculators/BCMathCalculator.php
        - message: '#Cannot cast mixed to string.#'
          path: src/IPv4Calculators/NativeCalculator.php
        - message: '#function gmp_(.*)? expects (GMP|int)#'
          path: src/IPv4Calculators/GMPCalculator.php
        - '#^Call to deprecated method withContent\(\) of#'
    reportUnmatchedIgnoredErrors: true
